.*.swp
.*.un~
*.o
*.html
aclocal.m4
autom4te.cache
aiscm-*.tar.bz2
aiscm-*.tar.gz   
config.h
config.h.in
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4
missing
stamp-h1
