.deps
.libs
*.la
*.lo
*.o
*.go*
*.gz
*.bz2
*.xz
*.asc
*~
*.info
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
ChangeLog
confdefs.h
conftest.*
config.h
config.h.in
config.status
configure
docker
libtool
ltmain.sh
/Makefile
/Makefile.in
stamp-h1
pkg
apt/db
apt/dists
apt/pool
