.deps
.libs
*.la
*.lo
.*.swp
.*.un~
*.o
*.go
*.html
*.gz
*.bz2
*.xz
*~
*.info
*.pdf
*.trs
*.log
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
doc/texinfo.tex
doc/aiscm.t2p
doc/mdate-sh
doc/stamp-vti
doc/version.texi
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

