*.tmp
av-sync.mp4
fubk.png
pattern.png
swap-channels.jpg
rolled.jpg
cropped.jpg
crop2d.jpg
inverted.jpg
divided.jpg
modulo.jpg
test.mp3
roberts-cross.jpg
sobel.jpg
box-filter.jpg
sharpen.jpg
eroded.jpg
dilated.jpg
pseudo.jpg
mirror.jpg
gauss-blur.jpg
gauss-gradient.jpg
components.png
harris-stephens.jpg
t10k-images-idx3-ubyte
t10k-labels-idx1-ubyte
train-images-idx3-ubyte
train-labels-idx1-ubyte
voice-commands.csv
voice-commands.mp3
speech-*.wav
background.wav
*.meta
board.png
camera.yml
circle.png
mandelbrot.png
