Makefile.in
Makefile
index.md
*.html
*.tmp
crop2d.jpg
cropped.jpg
fubk.png
pavillion.jpg
shuttle.jpg
pattern.png
rolled.jpg
scaled-pattern.png
pavillion.jpg
swap-channels.jpg
star-ferry.jpg
inverted.jpg
divided.jpg
modulo.jpg
roberts-cross.jpg
sobel.jpg
box-filter.jpg
sharpen.jpg
eroded.jpg
dilated.jpg
pseudo.jpg
mirror.jpg
gauss-blur.jpg
gauss-gradient.jpg
harris-stephens.jpg
letters.png
components.png
board.png
