Makefile.in
Makefile
index.md
*.html
*.tmp
crop2d.jpg
cropped.jpg
fubk.png
pavillion.jpg
pattern.png
rolled.jpg
scaled-pattern.png
pavillion.jpg
swap-channels.jpg
star-ferry.jpg
inverted.jpg
divided.jpg
modulo.jpg
test.mp3
