Source: aiscm
Maintainer: Jan Wedekind <jan@wedesoft.de>
Section: lisp
Priority: optional
Homepage: http://www.wedesoft.de/aiscm/
Standards-Version: 0.1.6
Build-Depends: guile-2.0-dev (>= 2.0.9), libmjpegtools-dev, libx11-dev, libxv-dev, libglu1-mesa-dev, libgl1-mesa-dev, libswscale-dev, pandoc, debhelper (>= 9)

Package: aiscm
Architecture: amd64
Depends: guile-2.0 (>= 2.0.9), liblavjpeg-2.1-0, libx11-6, libxv1, libglu1-mesa | libglu1, libgl1-mesa-glx | libgl1, libswscale3, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Guile computer vision extension
 AIscm is a real-time computer vision extension for the Guile programming language.
 Performance in Scheme is achieved by means of a JIT compiler.
