#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/aiscm prefix=/usr install
	find $$(pwd)/debian/aiscm -name '*.la' -delete

override_dh_makeshlibs:
	# NOOP to prevent debuild from invoking ldconfig
